<a href="https://colab.research.google.com/github/kimsun75/dataAnalysis/blob/main/2_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_03_%EA%B3%B5%EA%B3%B5%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B8%B0%EC%83%81%EC%B2%AD%EB%82%A0%EC%94%A8_%EB%B0%B0%ED%8F%AC_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 분석

## 3. 공공데이터를 이용한 EDA 분석 - 기상청 데이터 분석

## [질문]
- **Q1. 우리나라 날씨측정 데이터(종관 데이터)의 최초 측정년도는?**
- **Q2. 우리나라에서 가장 더웠던 온도와 년월, 지역은?**
- **Q3. 우리나라에서 가장 추웠던 온도와 년월, 지역은?**
- **Q4. 제주에서 가장 더웠던/추웠던 온도와 년월은?**
- **Q5. 지점별 최고기온/최저기온은?**
- 등등

In [ ]:
# (코랩에서) 코드 실행 후 재시작
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

---

### #파이썬으로 데이터 분석하는 순서
 [사전준비] 필요한 파이썬 라이브러리 설치하기
 1. 데이터 준비하기 : 웹 사이트에서 공공데이터 다운로드하기
 2. 데이터 불러오기 : 파이썬으로 데이터 읽어서 표로 나타내기
 3. 데이터 전처리하기 : 필요한 데이터만 추출하기
 4. 데이터 시각화하기 : 데이터 그래프로 나타내기
 5. 데이터 저장하기 :  파일로 저장하기

---

### #라이브러리 설치 확인하기
아래 코드를 실행한 후 오류 메시지가 없으면 성공적으로 설치된 것입니다.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 멧플롯립 한글폰트 지정
plt.rc('font', family='NanumBarunGothic')  # 코랩 폰트
plt.rc('font', family='Malgun Gothic')     # 윈도우 폰트
plt.rcParams['axes.unicode_minus'] = False

---

### 1.데이터 준비하기

- 기상청 사이트에서 날씨 데이터를 다운로드한다.
- 사이트에 가입하고 로그인해야 다운로드할 수 있다.
- https://data.kma.go.kr/data/grnd/selectAsosRltmList.do?pgmNo=36
- csv파일 다운로드해서 사용

---------

### 2. 데이터 불러오기 : 파이썬으로 데이터 읽어서 표로 나타내기

---

### 3.데이터 전처리하기 - 가공하기
- 함수 참고:  https://pandas.pydata.org/docs/reference/index.html

- 데이터 요약

In [ ]:
# 데이터 요약 정보

- 기술통계 정보

#### **1. 결측데이터 시각화**
missingno패키지는 pandas 데이터프레임 데이터에서 누락된 데이터를 찾고 시각화하는 기능 제공

In [ ]:
!pip install missingno

- **행에 결측 데이터 시각화**

In [ ]:
import missingno as msno
msno.matrix(df)
plt.show()

- **열에 결측 데이터 시각화**

In [ ]:
msno.bar(df)
plt.show()

---

#### **2. 컬럼명 변경하기**

In [ ]:
# 컬럼명 변경하기 - ['지점', '지점명', '일시', '평균기온', '최고기온', '최저기온', '평균현지기압',
#                   '평균상대습도', '월합강수량', '평균풍속','일조시간', '최심적설']
df.columns =

#### **3. 컬럼 추가하기 (df.insert())**
DataFrame.insert(추가하고싶은위치,컬럼명,값, allow_duplicate=False)

In [ ]:
# 인덱스 3 위치에 '신규'란 이름으로 df['지점'] 데이터를 그대로 추가하기

In [ ]:
# 인덱스 3 위치에 '검색일자'란 이름으로 df['일시'] 데이터를 그대로 추가하기

In [ ]:
# 인덱스 3 위치에 '년도'란 이름으로 '일시'컬럼에서 년도 부분만 컬럼 추가하기

- **문자열에서 특정 문자 제거**: '검색일자' 값중에 '년도-월-일' 형태로 되어 있는 구조에서  '-'기호를 제거

In [ ]:
df['검색일자']=

- **데이터형 변환하기**: str(object)-->int64 형으로 변환하기

In [ ]:
df['검색일자'] =

- **데이터형 변환하기**: int64 --> str(object)형으로 변환하기

In [ ]:
df['검색일자'] =

#### **4. 컬럼 삭제**

In [ ]:
# 앞에서 추가한 '신규', '검색일자' 컬럼 삭제하기

#### **5. 특정 조건 검색**

- 지점명 총개수와 고유한 지점명

In [ ]:
# 지점명 총개수와 고유한 지점명
print( '#지점명 총개수: ',   )
print( '#고유한 지점명: ',   )

In [ ]:
# '2023'년도 데이터만 추출하여 df_2023으로 지정하기
df_2023 =

In [ ]:
# '2023'년도 지점명 총개수와 고유한 지점명
print( '#지점명 총개수: ',   )
print( '#고유한 지점명: ',   )

- **특정 컬럼명 검색** : 지점명=='제주' 데이터

- **또는(|) , 포함(in)** 조건 사용: '제주' 또는 '서귀포' 데이터 추출

In [ ]:
# 또는(|) 사용

- **그리고(&)** 조건 사용

### [실습문제] 관측 지점이 제주도 내부에 있는 관측소 데이터 검색

In [ ]:
# 포함(in) 사용

### **Q1. 우리나라 날씨측정 데이터(종관 데이터)의 최초 측정년도는?**

- **min()** : 최초 측정월, 마지막 측정월

In [ ]:
# 최초 측정월, 마지막 측정월
print ( '최초 측정일시: ',   )
print ( '최근 측정일시: ',   )

In [ ]:
# 최초 측정월을 입력으로 받아서 조건 검색하기

- **max()** : 최근 측정 월 데이터 추출하기

In [ ]:
# 최근 측정 월 데이터 추출하기

In [ ]:
# 지점명이 '제주'인 최근 측정 데이터

In [ ]:
# 제주내의 지점들의 최근 측정 데이터

### **Q2. 우리나라에서 가장 더웠던 온도와 년월, 지역은?**

In [ ]:
# 컬럼 추출


# 행 추출

In [ ]:
# 전체 최고기온
df.query(f" 최고기온 == {df['최고기온'].max()} ")

# 전체 최고기온 일시
df.query(f" 최고기온 == {df['최고기온'].max()} ")['일시'].str[0:4]

# 전체 최고기온 지점명
df.query(f" 최고기온 == {df['최고기온'].max()} ")['지점명'].iloc[0]

In [ ]:
# 행 추출 특정 컬럼값(년월) 추출
yymm =
print(f'기상관측 데이터를 통해 가장 더웠던 년-월: {yymm}')


# 행 추출 특정 컬럼값(최고기온) 추출

### **Q3. 우리나라에서 가장 추웠던 온도와 년월, 지역은?**

### **Q4. 제주에서 가장 더웠던/추웠던 온도와 년월은?**

In [ ]:
# 제주에서 가장 더웠던 데이터

### **[실습문제] 서울에서 가장 더웠던/추웠던 온도와 년월은?**

--------

#### **6. 그룹핑(Grouping)**

#### #그룹핑: 지점별

In [ ]:
# 지점명별 숫자 컬럼의 평균값
df.groupby('지점명').mean(numeric_only=True)

In [ ]:
# 지점명별 해당 컬럼의 데이터 빈도수
df.groupby(['지점명'], as_index=False).count()
df.groupby('지점명').count()

#### #그룹핑(컬럼1개): 지점별  평균기온

In [ ]:
# 방법1
df['평균기온'].groupby(df['지점명']).mean()

In [ ]:
# 방법2
df.groupby('지점명')['평균기온'].agg('mean')

In [ ]:
# 방법3
df.groupby('지점명')['평균기온'].agg(**{'평균기온':'mean'})

# 그래프 그리기
df.groupby('지점명').aggregate({'평균기온':'mean'}).plot()

In [ ]:
# 지점명별 평균기온, 최고기온,최저기온 그룹핑하기
df.groupby('지점명')['평균기온'].agg(**{'평균기온':'mean',
                                    '최고기온':'max',
                                    '최저기온':'min'})

#### #그룹핑(컬럼 2개): 지점명+년도별,  평균기온

In [ ]:
df.groupby(['지점명','년도'])['평균기온'].agg('mean')
df.groupby(['지점명','년도'])['평균기온'].agg(**{'평균':'mean'})
df.groupby(['지점명','년도']).aggregate({'평균기온':'mean'})
#df.groupby(['지점명','년도'])['평균기온'].agg(**{'평균기온':'mean'}).reset_index()

In [ ]:
# 선그래프 그리기
df.groupby(['지점명','년도'])['평균기온'].agg('mean').plot()

### **Q5. 지점별 최고기온/최저기온은?**

In [ ]:
df.groupby('지점명')['최고기온'].agg(**{'최고기온':'max'})
df.groupby('지점명').aggregate({'최고기온':'max',
                            '최저기온':'min'})

- 인텍스를 초기화 하는 방법

In [ ]:
# 인텍스를 초기화 하는 방법
df.groupby('지점명')['최고기온'].agg(**{'최고기온':'max'}).reset_index()
df.groupby('지점명').aggregate({'최고기온':'max'}).reset_index()

### [실습문제] : 지점별 년도별 최다 월합강수량?

In [ ]:
df.groupby(['지점명','년도'])['월합강수량'].agg(**{'최다월합강수량':'max'})
df.groupby(['지점명','년도']).aggregate({'월합강수량':'max'})

### [실습문제]  제주 전역의 지점별+년도별 최고 최고기온, 최저 최저기온 ,최다 월합강수량, 최다 최심적실은?

In [ ]:
df2 = df.query(" 지점명 in ('고산','서귀포','성산','성산포','제주') ")
df2 = df2.groupby(['지점명','년도']).aggregate({'최고기온':'max',
                                          '최저기온':'min',
                                          '월합강수량':'max',
                                          '최심적설':'max'})

df2.to_csv('data/제주-년도별-날씨정보.csv', encoding='cp949')
df2

#### 6.가공된 파일 신규 저장하기

In [ ]:
# 가공된 데이터 신규 파일로 저장하기
outfile = 'data/weather_data.csv'
df.to_csv(outfile, encoding='cp949', mode='w', index=True)

--------------------------

## 4. 데이터 시각화하기

### [실습] : 지점별 평균기온 그래프

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# 한글,그래프크기
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['figure.figsize'] = (10, 4)
plt.rcParams['axes.unicode_minus']

# 1.데이터 불러오기
file = 'data/OBS_ASOS_MNH_20240408173612.csv'
df = pd.read_csv(file, encoding='cp949')
df

# 2.컬럼명 지정
df.columns = ['지점', '지점명', '일시', '평균기온', '최고기온', '최저기온',
              '평균현지기압','평균상대습도', '월합강수량', '평균풍',
              '일조시간','최심적설']
df['년도'] = df.일시.str[0:4]
df.head(2)

# 3.지점별 평균 구하기(지점 30개만 추출)
df_ = df.groupby('지점명').aggregate({'평균기온':'mean'}).head(30)

plt.plot(df_, '^', linestyle='solid', c='red', label='평균기온')
plt.xticks(rotation=90)
plt.title('종관관측 지점별 평균기온', fontsize=20)
plt.xlabel('지점명'); plt.ylabel('평균기온');
plt.legend(); plt.grid();
plt.savefig('./지점별그래프.png')
plt.show()

### [실습문제] : '제주' 지점의 년도별 평균기온을  선 그래프로 나타내기

In [ ]:
# 제주 지점 연도별 그룹핑하기
df_jeju = df.query(" 지점명 in ('고산','서귀포','성산','성산포','제주') ")
df_jeju = df_jeju.groupby(['년도']).aggregate({'평균기온':'mean'}).reset_index()
X = df_jeju.년도
Y = df_jeju.평균기온


# 제주 지점 평균 구하기
plt.plot(X, Y, '^', linestyle='solid', c='r', label='평균기온(°C)')
plt.title('제주 지점 평균기온', fontsize=20)
plt.xlabel('년도')
plt.ylabel('평균기온')
plt.xticks(rotation=45)
plt.legend()
plt.grid()
plt.show()

### [실습]: 제주의 평균기온, 최고기온, 최저기온 통계를 그래프로 나타내기

In [ ]:
# 2. '제주'지점 년도별 기온 데이터 추출하기(년도 30개만)
plt.rcParams['figure.figsize'] = (12, 6)
plt.rcParams['axes.unicode_minus'] = False

data = df.query(" 지점명 == '제주' ")
data1 = data.groupby('년도').평균기온.agg(**{'평균기온':'mean'})
data2 = data.groupby('년도').최고기온.agg(**{'최고기온':'max'})
data3 = data.groupby('년도').최저기온.agg(**{'최저기온':'min'})

# 3. 그래프로 시각화하기
plt.plot(data1, 'o', linestyle='solid', c='r', label='평균기온')
plt.plot(data2, '^', linestyle='solid', c='g', label='최고기온')
plt.plot(data3, 'v', linestyle='solid', c='b', label='최저기온')
plt.title("'제주'지점 년도별 기온 통계", fontsize=15) #제목
plt.xlabel('년도')     # x축 레이블
plt.ylabel('기온')     # y축 레이블
plt.legend()           #범례,기본 위치 : loc='upper left'
plt.xticks(rotation=45)  # x축 레이블 기울이기
plt.grid()               # 격자 표시

plt.show()

In [ ]:
# 2. '제주'지점 년도별 기온 데이터 추출하기(년도 30개만)
plt.rcParams['axes.unicode_minus'] = False
plt.figure(figsize=(20,5))

data = df.query(" 지점명 == '제주' ")
data1 = data.groupby('년도')['평균기온'].agg(**{'평균기온':'mean'}).reset_index()
data2 = data.groupby('년도')['최고기온'].agg(**{'최고기온':'max'}).reset_index()

# 3. 그래프로 시각화하기
X = data1['년도']
Y1 = data1['평균기온']
Y2 = data2['최고기온']
plt.bar(X, Y1, label='평균기온')
plt.plot(X, Y2, 'o', linestyle='solid', c='r', label='최고기온')
plt.title("'제주'지점 년도별 기온 통계", fontsize=15) #제목
plt.xlabel('년도')        # x축 레이블
plt.ylabel('기온')        # y축 레이블
plt.legend()             #범례,기본 위치 : loc='upper left'
plt.xticks(rotation=45)  # x축 레이블 기울이기

plt.grid()               # 격자 표시

plt.show()

### [실습]: 제주의 최고기온(선그래프),평균기온(막대그래프)을 혼합 그래프로 나타내기

In [ ]:
# 3. 그래프로 시각화하기
plt.figure(figsize=(20,5))
plt.title('제주 기온 통계', fontsize=15)         #제목
plt.legend(['최고기온','평균기온']) #범례,기본 위치 : loc='upper left'
plt.xlabel('년도')                 # x축 레이블
plt.ylabel('기온')                 # y축 레이블
plt.xticks(rotation=45)           # x축 레이블 기울이기
plt.grid()                        # 격자 표시

plt.bar(X, Y1)  # 막대 그래프
plt.plot(X, Y2, 'o', linestyle='solid', c='r')  # 선그래프
plt.show()

### [실습] : 2중 축 그래프 그리기 :  평균상대습도 & 월합강수량

In [ ]:
# 2.'제주'지점의 평균상대습도 & 일최다강수량 센터수
data = df.groupby(['지점명','년도'])['평균상대습도'].agg(**{'평균상대습도':'mean'}).reset_index()
data = data.query(" 지점명 == '제주' ")
X  = data['년도']
Y1 = data['평균상대습도']

data = df.groupby(['지점명','년도'])['월합강수량'].agg(**{'월합강수량':'mean'}).reset_index()
data = data.query(" 지점명 == '제주' ")
Y2 = data['월합강수량']
# print(Y2)


# 3. 그래프로 시각화하기
# 왼쪽 축 그래프
fig, ax1 = plt.subplots()
plt.suptitle('평균상대습도 & 월합강수량',fontsize=15)
ax1.plot(X, Y1, color='green')     # 평균상대습도 (왼쪽)
ax1.set_ylabel('평균상대습도', color = 'green', rotation = 90)

# 오른쪽 축 그래프
ax2 = ax1.twinx()
ax2.plot(X, Y2, color='deeppink')  # 월합강수량 (오른쪽)
ax2.set_ylabel('월합강수량', color = 'deeppink', rotation = 270)

fig.autofmt_xdate(rotation=45)  #X축 레이블 기울이기
plt.savefig('image/graph.png')
plt.show()

-------

---------

끝!